- var pageTitle = 'Hotel-Toxin'

doctype html
head
  meta(charset='UTF-8')
  style
    include _header.css
  title= pageTitle 
.wrapper
  header.header
    .header__container
      a.header__logo(href='')
        img(src='/src/img/logo.png', alt='logo')
      nav.header__menu.menu
        ul.menu__list
          li.menu__item.menu__item-active 
            a.header__link(href='') О нас
          li.menu__item 
            a.header__link(href='') Услуги
          .dropdown
            select
              option(value='')
              option(value='')
              option(value='')
          li.menu__item 
            a.header__link(href='') Вакансии
          li.menu__item
            a.header__link(href='') Новости
          li.menu__item 
            a.header__link(href='') Соглашения
          .dropdown
            select
              option(value='')
              option(value='')
              option(value='')
        .header__button
          a.btn.btn-active(href='') войти
          a.btn(href='') Зарегистрироваться
